/* .formMod{
    width: 70%;
    height: 80%;
    margin-top: -30%;
    margin-left: 20%;
    font-size: 20px;
  } */
  .container {
    max-width: 900px;
    background: #dac2a942;
    /* background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%); */
    border-radius: 40px;
    padding: 25px 35px;
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px; */
    /* margin: 20px; */
  min-height: 30%;
  margin-top: -35%;
  margin-left: 30%;
  /* background: #e0e0e0; */
  box-shadow:  30px 30px 100px #d5d5d5,
               -30px -30px 100px #ebebeb;

               /* background: transparent; */
  }

  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #c9c9c9 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    font-size: 30px;

  }
  .input{
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    width: 100%;
  }
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);

  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
  /* background: linear-gradient(45deg, rgb(234, 223, 171) 0%, rgb(140, 180, 127) 100%); */
  background-color: #7d7a7a;
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(114, 114, 114, 0.878) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
    font-family:  cursive;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(111, 111, 111, 0.878) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(255, 255, 255, 0.878) 0px 15px 10px -10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(231, 231, 231, 0.878) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #ffffff;
    font-size: 9px;
  }

  .alert-info{
    text-align: center;
    /* border-radius: 20px;
    height: 70px;
    /* font-family: 'Brush Script MT', cursive; */
    /* font-size: 20px;
    margin-left: -7%;
    margin-top: 2%; */
   
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    }
    
    .alert-danger{
      text-align: center;
      font-size: 15px;
      margin-top: 10px;
        font-size: 30px;
        font-family: 'Brush Script MT', cursive;
      /* border-radius: 20px;
      height: 50px;
      margin-top: 10px;
    
      /* font-family: 'Brush Script MT', cursive; */
      /* font-size: 10px;
      margin-left: -7%; */ 

    }

    .image{
     margin-left: 100px;
      border-radius: 20px;
    
   
    }

    .formm {
      background-color: #cebd8a47;
      box-shadow: 0 10px 60px rgba(202, 199, 199, 0.61);
      border: 0px solid rgb(159, 159, 160);
      border-radius: 20px;
      padding: 2rem .7rem .7rem .7rem;
      text-align: center;
      font-size: 1.125rem;
  margin-left: 9%;
  margin-top: 2%;
      max-width: 700px;
      align-items: center;
    }
    
    .form-title {
      color: #848383;
      font-size: 35px;
      /* font-weight: 500; */
      font-family: 'Brush Script MT', cursive;
    }
    
    .form-paragraph {
      margin-top: 10px;
      font-size: 0.9375rem;
      color: rgba(195, 179, 123, 0.304);
    }
    
    .drop-container {
      
      background-color: #c7b5854b;
      position: relative;
      display: flex;
      gap: 10px;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      /* padding: 10px; */
      margin-top: 2.1875rem;
      border-radius: 10px;
      border: 3px dashed rgb(146, 183, 248);
      color: #444;
      cursor: pointer;
      transition: background .2s ease-in-out, border .2s ease-in-out;
    }
    
    .drop-container:hover {
      background: rgba(223, 223, 223, 0.164);
      border-color: rgba(17, 17, 17, 0.616);
    }
    
    .drop-container:hover .drop-title {
      color: #222;
    }
    
    .drop-title {
      color: #444;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      transition: color .2s ease-in-out;
    }
    
    #file-input {
      width: 500px;
      max-width: 600%;
      color: #444;
      padding: 2px;
      background: #fcfbfac9;
      border-radius: 10px;
      border: 1px solid rgba(8, 8, 8, 0.288);
              font-family:  cursive;

    }
    input{
      background: beige;
    }
    #file-input::file-selector-button {
      margin-right: 20px;
      border: none;
      background: #073bad;
      padding: 10px 20px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      transition: background .2s ease-in-out;
    }
    
    #file-input::file-selector-button:hover {
      background: #0d45a5;
    }
/*

    .file-upload-form {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 33%;
      margin-top: 2%;
    }
    .file-upload-label input {
      display: none;
     
    }
    .file-upload-label svg {
      height: 50px;
      fill: rgb(82, 82, 82);
      margin-bottom: 20px;
    }
    .file-upload-label {
      cursor: pointer;
      background-color: #ddd;
      padding: 30px 60px;
      border-radius: 40px;
      border: 2px dashed rgb(82, 82, 82);
      box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
    }
    .file-upload-design {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    .browse-button {
      background-color: rgb(82, 82, 82);
      padding: 5px 15px;
      border-radius: 10px;
      color: white;
      transition: all 0.3s;
    }
    .browse-button:hover {
      background-color: rgb(14, 14, 14);
    }
    */