


<section>
  <div class="container " style="position: relative;top:-40px;">
  <!-- <section id="first" class="story" data-speed="8" data-type="background">
    <div class="smashinglogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
</section> -->
  <div class="sidebar">
     <!-- <a class="navbar-brand" href="#"> -->
      <br>
      <div class="imagess">
     <img src="../../assets/images/EXPLORE TON POTENTIEL (5).png"  width="60" height="60" class="logo">
       <!-- </a>  -->
      </div>

       <div class="sea" >
        <!-- <form class="d-flex" role="search" >
          <input class="form-control me-2" type="search" placeholder="search..." aria-label="Search" >
          <button class="btn btn-outline-success" type="submit" class="search">Rechercher</button>
        </form>
   -->
      </div>



      <ul class="barre">

          <div class="title">
            <button  (click)="gotodashbord()">
            <!-- <a href="#" class="link"> -->
              <i class='bx bx-grid-alt  bx-flip-vertical' ></i>    <span>dashboard</span>

                                          </button>
<br><br>
            <button (click)="ajouterFormateur()" ><i class='bx bx-book-add ' ></i><span>Ajouter un formateur</span></button>
            <br><br>
            <button (click)="addcycle()"><i class='bx bx-book-add ' ></i> <span>Ajouter un cycle</span></button>
            <br><br>
            <button  (click)="listeformateur()" >
                <i   class='bx bxs-group ' ></i><span>Liste des formateurs</span>


          </button>
          <br><br>
          <button (click)="listeparticipant()">

              <i class='bx bx-group ' ></i>
              <span>Liste de participants</span>
          </button>
          <br><br>
    <button (click)="liste_cycle()"><i class='bx bx-book-add ' ></i><span>Liste des cycles</span></button>
    <br><br>
      <button (click)="goToCompte()"><i class='bx bxs-user ' ></i><span>Mon compte</span></button>
          <br><br>
      <button (click)="deconnection()"><i class='bx bx-user' ></i><span>Déconnexion</span></button>

  </div>

      </ul>
  </div>
</div>
</section>



