



<img src="./../../assets/images/choose.gif" class="imgg">
<div class="container">
<div class="card">
<div class="card-image">

    <label><strong>Description du poste</strong> </label>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. O
        fficia dolorum et aliquid! Sit voluptatum voluptas,<br>
         sunt animi optio nam ipsam qui veniam fugiat dignissimos? 
         Officia temporibus nulla dolore maiores nihil!</p>
<label><strong> Responsabilités du poste</strong></label>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, </p>

<label><strong>Qualifications</strong></label>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. ?</p>

<label><strong>Compétences demandées</strong></label>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
<!-- <button type="button" class="btn" >Postuler à cet emploi</button><br> -->
<button class="boutt" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Postuler à cet emploi</button>


</div>

  <div class="card-description">
    
    <p class="text-title">Developpeur web</p>
    <p class="text-body">
    </p>

  </div>
</div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Veuillez remplir le formulaire !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">nom et prenom </label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">email </label>
            <input type="text" class="form-control" id="recipient-name">
          </div>


          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Téléphone</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>


          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Adresse</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>


          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">votre cv </label>
            <input type="file" class="form-control" id="recipient-name">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>
