<section >
    <article class="imgg">

  <div class="row">


    <!-- <div class="row"> -->
  <nav class="mask">
      <img src="../../assets/images/logo.png" alt="/home" width="60" height="60" class="logo">
         <!-- </a>  -->


      <ul class="list">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <button class="search">Search</button>
      <button class="menu">Menu</button>
    </nav>
<!--
    <button type="button" class="bou">se connecter </button> -->
    </div>



    </article>
    </section>
