.tab{
  margin-left: 20%;
  }
  /* .tab1{
      width: 80%;
      margin-top:-40%;
  } */
   td {
      text-align: center;
  }
  /* section{
      background-color: rgb(255, 249, 249);
  } */
  a{
      margin: 4%;
  }
  .mod{
      margin-left: 1%;
      flex: content;
      
  }
  table{
      /* margin-top: -30%;
      margin-bottom: 20%; */
      background-color: #adadad;
      color: rgb(0, 0, 0);
      width: 70%;
      margin-left: 23%;
      border:1px solid #000000;
      gap: 2px;
  }
  tr th td {
      border:1px solid #000000;
  }
  



  ************

/*===========================
card-01 css
===========================*/
.single-card {
  box-shadow: var(--shadow-1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: -30px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
 
}
.single-card:hover {
  box-shadow: var(--shadow-4);
}
.single-card .card-image img {
  width: 70%;
  height: 150px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  16px 16px 58px #cacaca,
               -16px -16px 58px #f6f6f6;
}
.single-card .card-content {
  padding: 16px;
  /* background-color: #c2ad932e; */
  /* border: 0.1px solid rgb(0, 0, 0) ; */
  box-shadow: 20% black;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  background: #c4b5985a;
  box-shadow:  16px 16px 58px #cacaca,
               -16px -16px 58px #f6f6f6;

               

}


p{
  font-family:  cursive;
  font-size: 18px;

}
strong{
  font-size: 25px;
  font-family: 'Brush Script MT', cursive;

}
.idd{
  text-align: center;
  font-size: 20%;
  font-family: cursive;
  color: #c37800;

}

button{
  font-family:  cursive;

}
.single-card .card-content button {
  /* background-color: #ffffff; */
  color: rgb(149, 99, 7);
  border: none;
  /* background: #e4d39c; */
  /* background: transparent; */
  border-radius: 50px;
  background: #9d8a7091;
  /* box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff; */
               font-family: cursive;

}

.single-card .card-content .card-title {
  /* margin-bottom: 0; */
  gap: 80%;

  
}
.single-card .card-content .card-title a {
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  
}
.single-card .card-content .card-title a:hover {
  color: var(--primary);
}
.single-card .card-content .text {
  color: var(--dark-3);
  margin-top: 8px;
  
}
.container{
  margin-top: -35%;
  margin-top: -32% ;
  margin-bottom: 50%;
 
}

.cadre{
  border: 2px solid black;

}


.button {
--color: #edd5adc1;
padding: 0.8em 1.7em;
background-color:var(--color);
border-radius: .3em;
position: relative;
overflow: hidden;
cursor: pointer;
transition: .5s;
font-weight: 400;
font-size: 17px;
/* border: 1px solid rgb(0, 0, 0); */
font-family: inherit;
/* text-transform: uppercase; */
font-weight: bold ;
color: var(--color);
z-index: 1;
background-color: #eae3e3;
width: 100%;
height: 50px;
}

.button::before, .button::after {
content: '';
display: block;
width: 50px;
height: 50px;
transform: translate(-50%, -50%);
position: absolute;
border-radius: 50%;
z-index: -1;
background-color: var(--color);
transition: 1s ease;
color: #ffffff;
}

.button::before {
top: -1em;
left: -1em;

}

.button::after {
left: calc(100% + 1em);
top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
height: 410px;
width: 410px;
}

.button:hover {
color: rgb(0, 0, 0);
}

.button:active {
filter: brightness(.8);
}
a{
color: rgb(0, 0, 0);
text-decoration: none;
}
a:hover {
text-decoration: none;
color: #000000;
}
/* button {
background-color: #000000;
color: white;
} */

.plus{
border-radius: 20%;
}


.imagee{
border-radius: 20%;
}
.but{
border: 0px;
}
.but:hover  {
border: 0px solid  white;
border-radius: 60%;
}
.but:focus {
border: 0px solid  white;
 }

/* 
 .container{
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  16px 16px 58px #cacaca,
           -16px -16px 58px #f6f6f6;
 } */


 .container .con{
  background: #d4be935e;
  padding: 10%;
  border-radius: 50px;
/* background: #e0e0e0; */
box-shadow:  20px 20px 60px #bebebe,
           -20px -20px 60px #ffffff;
 }



 .cycle{
  font-size: 90px;
  color: #3140ad;
  margin-top: 10%;
 }