

<app-formateur-menu></app-formateur-menu>


<div *ngIf="formateurConnecte">
   <h2>Cycles de formation pour <br>{{ formateurConnecte.nomEtPrenom }}</h2>
 </div>

<section class="card-area pb-5">
    <div class="container">


       <div class="row justify-content-center">
       //  <div class="col-lg-4 col-md-7 col-sm-9" *ngFor="let liste of cycles">
            <div class="single-card card-style-one">
               <div class="card-image">
                  <!-- <img src="./../../assets/images/java.jpg" alt="Image" /> -->
               </div>


         <div *ngIf="cycles.length > 0" >
            <div class="container">
          <!-- <div class="col-lg-4 col-md-7 col-sm-9" *ngFor="let liste of cycles"> -->
             <div class="single-card card-style-one">
                <!-- <div class="card-image">
                   <img src="./../../assets/images/java.jpg" alt="Image" />
                </div> -->

                <div class="card-content">
                   <h4 class="card-title">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p class="idd"><strong>ID : {{liste.idCycle}}</strong> </p>
                    <p> <strong>Nom de cycle :</strong>{{liste.nomCycleDeFormation}}</p>
                   </h4>
                   <p class="text"><strong>Description :</strong>
                    {{liste.description}}                 </p>
                  <p><strong>Prix :</strong> {{liste.prix}}</p>
                  <p><strong>Date Début :</strong> {{liste.dateDebut}}</p>
                   <p><strong>Date Fin :</strong> {{liste.dateFin}}</p>
                   <br>
                   <div class="container" class="con">
                     <p><strong>Nom de cours :</strong></p>
                    <p ><strong>Les cours ajoutés :</strong> {{liste.formateurs.nomEtPrenom}}</p>
                   </div>
                   <!-- <p ><strong>Formateur :</strong>{{onOptionSelected(nom_prof)}}</p> -->
                   &nbsp;&nbsp;&nbsp;
                   <!-- <button class="button"><a href="modifierCycle">modifier</a> </button> &nbsp;  <button  class="button" (click)="supprimercycle(liste.id)">supprimer</button> -->
                   <button class="button" ><a  (click)="ajoutercours(liste.idCycle)">Ajouter un cours</a> </button> &nbsp;

                   <button  class="button" ><a>Modifier un cours</a></button>

                </div>
             </div>
            </div>
            </div>
         </div>
            </div>

          <div *ngIf="cycles.length === 0">
            <p class="cycle">{{ch}} </p>
          </div>







