<!-- formateur.component.html -->
<div class="d-inline">
  <app-formateur-menu></app-formateur-menu>

  <div class="container position-relative" style="top:-95vh;">
    <div class="main-body">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Formateur</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profil formateur</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->

      <div class="row gutters-sm">
        <div class="col-md-5 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
<div (click)="fileInput.click()" style="cursor: pointer;">
  <img [src]="imgSrc ? imgSrc : '../../../assets/image/formateur.png'" alt="Formateur" class="rounded-circle" width="150">
</div>                <div class="mt-3">
                  <p class="text-secondary mb-1">Formateur</p>
                   <h4>{{ formateurForm.value.nomEtPrenom }}</h4>
                  <p class="text-muted font-size-sm">{{ formateurForm.value.email }}</p>
                   <button class="btn btn-outline-primary" (click)="uploadPhoto()">Upload Photo</button>
                   <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card mb-3 pb-5">
            <div class="card-body">
              <form [formGroup]="formateurForm" (ngSubmit)="updateFormateur()">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-1">Nom et Prenom</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" formControlName="nomEtPrenom" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-1">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="email" formControlName="email" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-1">Telephone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" formControlName="tel" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-info">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
